

li
{
list-style-type: none;
}

.rechercher {
    border-radius: 80px;
}

.nav 
{
  float: right;  
}

.container {
  display: flex;
  justify-content: flex-start;
}

img {
  width: 60%;
  height: 60%;
}