nav
{
    display: inline-block;
}
 
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 15px;
    align-items: flex-end;
}
 
nav a
{
    font-size: 1.0em;
    color: #000000;
    text-decoration: none;
}
 
nav a:hover
{
    color: #0065FC;
    border-top: 2px solid;
    padding-top: 2px;
	;
}

li {
  list-style: none;
}

.logo {
	width: 100px;
	height: 40px;
	display: inline-block;
}
