nav
{
    display: inline-block;
    width: 900px;
    text-align: right;
	vertical-align: top;
}
 
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 15px;
	vertical-align: top;
}
 
nav a
{
    font-size: 1.0em;
    color: #000000;
    text-decoration: none;
}
 
nav a:hover
{
    color: #0065FC;
	;
}

li {
  list-style: none;
}

.logo {
	width: 65px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
}
